{# templates/operation/details.html.twig #}

<h1>Détails de l'opération</h1>

<p>ID de l'opération : {{ operation.id }}</p>
<p>PMPA (Prix Moyen Pondéré des Achats) : {{ pmpa }}</p>
<p>PMPV (Prix Moyen Pondéré des Ventes) : {{ pmpv }}</p>
