{% extends 'admin1/base.html.twig' %}

{% block title %}Ajouter Devises{% endblock %}



{% block body %}
   <div class="col-xs-12">
	<h3 class="header smaller lighter blue">Ajouter des devises </h3>

    {{ include('devises/_form.html.twig') }}

<button class="btn btn-white btn-info btn-bold">
<font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
<a href="{{ path('app_devises_index') }}" >Retour à la liste</a>
</font></font>
</button>  </div>
  {% endblock %}

