{% extends 'admin1/base.html.twig' %}

{% block title %}New Typeoperation{% endblock %}

{% block body %}
    <h1>Create new Typeoperation</h1>

    {{ include('typeoperation/_form.html.twig') }}

    <a href="{{ path('app_typeoperation_index') }}">back to list</a>
{% endblock %}
