<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>

			{{app.user.firstname}}
			{{app.user.lastname}}</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta
		name="viewport" content="width=device-width, initial-scale=1">

		<!-- Font Awesome -->
		<link
		rel="stylesheet" href="../../bundles/plugins/fontawesome-free/css/all.min.css">
		<!-- Ionicons -->
		<link
		rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<!-- Theme style -->
		<link
		rel="stylesheet" href="../../bundles/dist/css/adminlte.min.css">
		<!-- Google Font: Source Sans Pro -->
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
	</head>
	<!-- Content Wrapper. Contains page content -->
	<div>
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1></h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item">
								<a href="/users/">Profil</a>
							</li>
							<li class="breadcrumb-item active">Changer mot de passe</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<div class="container">

			<div class="grix xs4">

				<div>
					<div class="col-xs4">

						<div class="grix xs4 container">
							{% for message in app.flashes('error') %}
								<div class="col-xs4">
									<div class="p-3 my-2 rounded-2 error">{{message}}</div>
								</div>
							{% endfor %}
							<div class="col-xs4">
								<h1>Changer mot de passe</h1>
								<form method="post">
									<div class="form-field">
										<label for="pass">Mot de passe</label>
										<input type="password" id="pass" name="pass" class="form-control">
									</div>
									<div class="form-field">
										<label for="pass2">Confirmer mot de passe</label>
										<input type="password" id="pass2" name="pass2" class="form-control">
									</div>
									<div class="form-group">
										<div class="col-xs-12">
											<br>
											<button class="btn btn-lg btn-success pull-right" type="submit">
												<i class="glyphicon glyphicon-ok-sign"></i>
												Save</button>
											<!--<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>-->
										</div>
									</div>

								</form>
							</div>

						</div>

					</html>
